<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Fname:</strong>
  <%= @user.fname %>
</p>

<p>
  <strong>Lname:</strong>
  <%= @user.lname %>
</p>

<p>
  <strong>Phonenum:</strong>
  <%= @user.phonenum %>
</p>

<p>
  <strong>Caryear:</strong>
  <%= @user.caryear %>
</p>

<p>
  <strong>Carmake:</strong>
  <%= @user.carmake %>
</p>

<p>
  <strong>Carmodel:</strong>
  <%= @user.carmodel %>
</p>

<p>
  <strong>Repairs:</strong>
  <%= @user.repairs %>
</p>

<p>
  <strong>Appt:</strong>
  <%= @user.appt %>
</p>

<p>
  <strong>Ip:</strong>
  <%= @user.ip %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
